.Chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  &__group-info {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    
    &__outline {
      height: 100px;
      padding-left: 40px;
      display: flex;
      flex-direction: column;
      .Chat-mian__group-info__message {
       margin-top: 35px;  
       color: #333333;
       font-size: 20px;
      }  
      .Chat-main__group-info__name {
       color: #999999; 
       font-size: 12px;
       margin-top: 15px;
      }
    }
    .Chat-main__group-info__form {
       font-size: 16px;
       color: #38aef0;
       width: 72px;
       height: 40px;
       margin: 28px 40px 28px 0; 
       padding: 0 20px;
       border: 1px solid #38aef0;
       line-height: 40px;
       text-decoration: none;
       
    }
    
  }
  .Chat-main__message-list {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
  }
  .Chat-main__footer {
    height: 90px;
    background-color: #d2d2d2;
    width: calc(100vw - 300px);
    &__form {
      display: flex;
      position: relative;
      border: none;
      height: 50px;
      width: 100%;
      padding: 0px 45px 0 15px;
      &__input {
        height: 50px;
        width:  100%;
        color: #434a54;
        background-color: #fafafa;
        border-style: none;
        padding: 10px 40px 0 10px;
        margin: 10px 0;
      }  
      &__contact {
        position: absolute;
        top: 23px;
        right: 220px;
        height: 20px;
        input {
          display: none;
        }
      } 
      &__submit {
        width: 100px;
        height: 50px;
        background-color: #38aef0;
        color: #fff;
        font-size: 16px;
        padding: 10px 30px;
        margin: 10px 40px 10px 15px;
        text-align: center;
        justify-content: end;
        

      }
    }
  }  
}
  
       



